body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
                         /*CSS for Header*/
.header {
    background-color: #1F2937;
    margin: -8px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 350px;
    padding: 4px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 240px;
    flex-shrink: 0;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 16px;
    margin-right: 260px;
    font-size: 18px;
    flex-shrink: 0;
}

                     /*CSS for Hero Banner*/
.herobanner {
    display: flex;
    padding-bottom: 120px;
    padding-top: 100px;
    background-color: #1F2937;
    margin: -8px;
    margin-bottom: 0px;
    justify-content: center;
    gap: 16px;
}
.herotext {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 8px;
}
#herotitle {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}
.herotext #subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 480px;

}
#hero-image {
    width: 500px;
    background-color: #7a7a7a;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-signup {
    background-color: #3882F6;
    width: 130px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
}
                     /*CSS for Carousel (3rd section)*/
.carouselsection {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;
}

.carouseltitle {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    padding: 48px;
    padding-bottom: 58px;
}

.cards {
    display: flex;
    align-items: center;
    gap: 60px;
}

.card1, .card2, .card3, .card4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    gap: 8px;
}

#image1, #image2, #image3, #image4 {
    background-color: #F9FAF8;
    width: 180px;
    height: 180px;
    text-align: center;
    border: solid 5px;
    border-color: #3882F6;
    border-radius: 16px;
}

#carouseltext1, #carouseltext2, #carouseltext3, #carouseltext4 {
    display: flex;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}
                     /*CSS for Quote (4th section)*/
.quotesection {
    background-color: #E5E7EB;
    margin: -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    width: 820px;
    padding-top: 130px;
}

#author {
    font-weight: 600;
    width: 820px;
    text-align: end;
    padding-bottom: 100px;
    font-size: 24px;
}
                     /*CSS for Call To Action*/
.call-to-action-section {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 100px;
    margin: -8px;
}

.call-to-action-box {
    background-color: #3882F6;
    width: 1000px;
    display: flex;
    justify-content: center;
    padding: 56px 48px;
    border-radius: 8px;
    gap: 170px;
    flex-shrink: 0;
}

#call-to-action-text {
    display: flex;
    flex-direction: column;
}

#call-to-action-text #headertext {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

#call-to-action-text #subtext {
    color: #E5E7EB;
    font-size: 18px;
}

#action-signup {
    background-color: #3882F6;
    border: solid 2px #F9FAF8;
    color: #F9FAF8;
    width: 130px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    border-radius: 8px;
    align-self: center;
    flex-shrink: 0;
}
                     /*CSS for Footer*/
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    font-size: 18px;
    padding: 42px;
    margin: -8px;
}


/*remove underline, bullets, and indentation from links and lists*/
ul {
    list-style-type: none;
    padding-inline-start: 0;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}